<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <servlet-mapping>
  	<servlet-name>Upload</servlet-name>
  	<url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Upload</servlet-name>
  	<display-name>Upload</display-name>
  	<description></description>
  	<servlet-class>Upload</servlet-class>
  </servlet>
</web-app>
